---
---

@import "{{ site.theme }}";

header.post-header {
    background: #fafafa;
}

header h1 {
  font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 60px;
}

header h2 {
  font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h2.post-title {
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 2em;
  text-indent: 0px;
}

#main-content h2.post-title:before {
  padding-right: 0em;
  margin-left: -1.5em;
  content: "//";
  color: #9ddcff;
}

#main-content ul.post-list {
  list-style: none;
}

#main-content h3.chinese-blog {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }
  
#main-content h3.chinese-blog before {
    padding-right: 0.3em;
    margin-left: -2em;
    content: "///";
    color: #9ddcff;
  }