---
---

@import "{{ site.theme }}";

header {
  border-bottom: none;
}

#main-content header.post-header {
  padding-top: 5px;
  padding-bottom: 10px;
  background: #fafafa;
  text-indent: 0px;
}

#main-content header h1.post-title:before {
  content: none;
}

header h1 {
  font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 60px;
}

header h2 {
  font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

ul.post-list {
  padding-left: 0px;
}

#main-content h3.post-title {
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 22px;
  text-indent: 0px;
}

#main-content h3.post-title:before {
  padding-right: none;
  margin-left: none;
  content: none;
}

#main-content ul.post-list {
  list-style: none;
}

#main-content .chinese-blog {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'ZCOOL KuaiLe', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px;
  }