---
layout: base
---


<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  
    {{ content }}
  
    {% assign posts = site.posts | where: "category", "haofangcishangdu" %}
    {% assign total_posts = site.posts | where: "category", "haofangcishangdu" | size %}
  
    {%- if total_posts > 0 -%}
      <ul class="post-list">
        {% for i in (total_posts - 1)..0 %}
          {%- assign post = posts[i] -%}
          <li>
            <h3 class="post-title">
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.cipaiming | escape }}
              </a>
            </h3>
            <span class="post-meta"> {{ post.diyiju }}</span>
            <span class="post-meta"> {{ post.zuozhe }}</span>
            <span class="post-meta"> No. {{ post.paihao }}</span>
          </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
  
    {%- endif -%}
  
  </div>