---
layout: base
---


<div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
  
    {{ content }}
  
    <nav class="nav container">
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
              <li class="nav__item">
                  <a href="#home" class="nav__link active-link">
                      <i class='bx bx-home-alt nav__icon'></i>
                      <span class="nav__name">习的事</span>
                  </a>
              </li>
              <li class="nav__item">
                  <a href="#about" class="nav__link">
                      <i class='bx bx-user nav__icon'></i>
                      <span class="nav__name">古的诗</span>
                  </a>
              </li>

              <li class="nav__item">
                  <a href="#skills" class="nav__link">
                      <i class='bx bx-book-alt nav__icon'></i>
                      <span class="nav__name">我的事和诗</span>
                  </a>
              </li>
          </ul>
      </div>

    </nav>
  
    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}
  
  
    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <h3 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
    {%- endif -%}
  
  </div>